
  <div class="wrapper">

      <div class="box">
        <div class="text">
          <div class="burger">
            <div class="ham1"></div>
            <div class="ham2"></div>
            <div class="ham3"></div>
          </div>
          <h1>Style Me!</h1>
          <p>Pick a color, any color. The svg will change color using fill.</p>
          <button type="submit" class="button" value="send">CONTACT</button>
        </div>
  
        <svg class="bg" width="540" height="384" viewBox="0 0 540 384" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
              <path class="lgt" d="M539.812 -2.25L812.773 470.531H266.852L539.812 -2.25Z" fill="#FADFDF"/>
              <path class="mdt" d="M543 36.75L795.013 473.25H290.987L543 36.75Z" fill="#F1B9B9"/>
              <path class="smt" d="M540 87.75L735.18 425.812H344.82L540 87.75Z" fill="#CD5454"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="540" height="384" fill="white"/>
              </clipPath>
              </defs>
          </svg>
      </div>
  
      <div class="line"></div>
      <div class="colors">
        <div class="rectangle red"></div>
        <div class="rectangle orange"></div>
        <div class="rectangle green"></div>
        <div class="rectangle blue"></div>
        <div class="rectangle purple"></div>
        <div class="rectangle pink"></div>
      </div>
  
    </div>