// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

// the body element is our primary layout grid

.Main {
  
}

header {
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: row;
  height: 3em;
  align-items: center;
  padding: 0em 0em 0em 6em;
}

.icon {
  height: 40px;
  width: 40px;

}

header a {
  text-decoration: none;
}

nav {
  padding: 0em 6em 0em 0em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

nav ul li {
  display: inline;
  padding: 15px;
}


a.navLinks {
  text-decoration: none;
  font-weight: 600;
  color: #240754;
}
.navContact {
  font-weight: 600;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: azure;
  font-size: 20px;
  background: #8662C7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#cntct:hover {
  text-decoration: none !important;
}

.heroWrapper {
  display: grid;
  grid-template-columns: [side1] 1fr [side2] 1fr;
  background-color: #240754;
  height: 60vh;
}


.new {
  background-color: #240754;
  height: 40em;
  margin-top: -10px;
}

.introText {
  grid-column:  side1;
  color: azure;
  align-self: center;
  margin: 0em 0em 0em 5em;
  h4 {
    margin: 0em 0em 0em 1em;
  }
}

.heroImg {
  grid-column: side2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.4em 0em 0em 0em;
}

.heroImg img {
  height: 250px;
  width: 250px;
  max-width: 100%;
}

.introText h2 {
  padding: 1.3em 1em .5em .5em;
  margin: 0;


}

#text {
  color: azure;
}

.intro {
  padding: 0em 1em 0em 1em;

}

.waves {
  padding: 0em 0em 4em 0em;
}
.waves, .waves2 {
    margin: 0;
    resize: 'horizontal';
    overflow: hidden;
    width: '110vw';
    height: 'auto';
    white-space: 0;
  svg {
    float: left;
    padding: 0;
    margin-top: 0;
    white-space: 0;
    display: block;
    animation: wave 4s infinite;
  overflow: hidden;
  }
}

.waves2 {
  padding: 4em 0em 0em 0em;
}

@keyframes wave {
  0% {
    transform: scaleX(1.0);
    transform: scaleY(1.0);
  }

 25% {
    transform: scaleX(1.2);
    transform: scaleY(1.2);
  }

  50% {
    transform: scaleX(1.0);
    transform: scaleY(1.0);
  }
  75% {
    transform: scaleX(1.2);
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleX(1.0);
    transform: scaleY(1.0);
  }
}





.design, .design2 {
  display: grid;
  grid-template-columns: [someText] 1fr [colorPicker] 1fr;
  justify-items: center;
  }

.colorPicker {
  grid-column: someText;
  padding: 0em 8em 0em 0em;
}

.design2 {
  background-color: #240754;
  padding: 0px 0px 0px 0px;
  margin-top: -2px;
}


.colorPickerText {
  grid-column: colorPicker;
  padding: 0.8em 6em 0em 0em;
  h1 {
   font-size: 3.2rem;
  }
  h4 {
    padding: 0.8em 4.5em 0em 0em;
  }
  
  }


.des2txt {
  grid-column: someText;
  color: azure;
  align-self: center;
  padding: 0.8em 6em 0em 6em;
  h1 {
    font-size: 3.2rem;
  }
}
.des2img {
  grid-column: colorPicker;
  img {
    height: 600px;
    width: 400px;
  }
}

.pricing {
  display: flex;
  height: 20em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0em 6em 0em 6em;
}

.pcard_1, .pcard_2, .pcard_3, .pcard_4  {
  border: 8px solid #D9E2EC;
  border-radius: 10%;
  height: 300px;
  width: 300px;
  h1 {
    font-size: 2em;
    text-align: center;
  }
  .pcardHeader, .pcardHeader2, .pcardHeader3, .pcardHeader4 {
    height: 80px;
    border-bottom: 4px solid #D9E2EC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pcardHeaderBtn, .pcardHeaderBtn2, .pcardHeaderBtn3, .pcardHeaderBtn4  { 
    width: 100px;
    height: 10px;
    
    border-radius: 40px; 
  }
  .pcardHeaderBtn {
    background-color:  #CFBCF2;
  }
  .pcardHeaderBtn2 {
    background-color:  #8662C7;
  }
  .pcardHeaderBtn3 {
    background-color:  #653CAD;
  }
  .pcardHeaderBtn4 {
    background-color: #421987;
  }
  .pcardBody, .pcardBody2, .pcardBody3, .pcardBody4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .pcardTxt, .pcardTxt2, .pcardTxt3, .pcardTxt4 {
    h1 {
      padding-top: 0.4em;
    }
  }

  .pcardTxtLine, .pcardTxtLine2, .pcardTxtLine3, .pcardTxtLine4 {
    width: 200px;
    height: 10px;
    background: #a84909;
    border-radius: 40px; 
  }
  .pcardTxtLine {
    background-color:  #CFBCF2;
  }
  .pcardTxtLine2 {
    background-color: #8662C7;
  }
  .pcardTxtLine3 {
    background-color: #653CAD;
  }
  .pcardTxtLine4 {
    background-color: #421987;
  }
  .pcardButton, .pcardButton2, .pcardButton3, .pcardButton4 {
    margin-top: 1.5em;
    background: #3498db;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }
  .pcardButton {
    background: #CFBCF2;
  }
  .pcardButton2 {
    background: #8662C7;
  }
  .pcardButton3 {
    background: #653CAD;
  }
  .pcardButton4 {
    background: #421987;
  }
  
}




/*SVG */
  .bg {
    position: absolute;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
  
  .box {
    position: relative;

    border: 1px solid rgb(212, 196, 196);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 50px;
    background-color: white;
    margin: 30px;
  }
  .burger {
    position: relative;
    padding-bottom: 15px;
  }
  .ham1,
  .ham2,
  .ham3 {
    width: 30px;
    height: 3px;
    background-color: #cd5454;
    margin: 3px 0;
  }
  
  .text {
    grid-column: span 1;
    grid-row: span 3;
    justify-content: center;
    margin-top: 40px;
    margin-left: 60px;
  }
  .text h1 {
    font-size: 42px;
    line-height: 0.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .text p {
    line-height: 1.2;
    padding-bottom: 1rem;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .button {
    padding: 8px 24px;
    border: none;
    border-radius: 2px;
    background: #cd5454;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
  }
  
  .colors {
    margin-left: 8px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .line {
    height: 6px;
    width: 420px;
    background-image: linear-gradient(
      to right,
      #cd5454 0%,
      #cd5454 33%,
      #f1b9b9 33%,
      #f1b9b9 66%,
      #fadfdf 66%,
      #fadfdf 100%
    );
    margin: -12px 12px;
  }
  
  .rectangle {
    border-radius: 10px;
    height: 50px;
    width: 100px;
    background-color: #555;
    margin: 10px;
    box-shadow: 3px 3px 5px grey;
  }
  
  .red {
    background-color: #cd5454;
  }
  .orange {
    background-color: #f68e65;
  }
  .blue {
    background-color: #494ca2;
  }
  .yellow {
    background-color: #ffed61;
  }
  .green {
    background-color: #488b8f;
  }
  .purple {
    background-color: #714288;
  }
  .pink {
    background-color: #f67280;
  }
  
  
    .wrapper {
      width: 375px;
    }
    .box {
      width: 374px;
      height: 199.8px;
    }
    .bg {
      width: 345px;
      height: 200px;
    }
    .colors {
      width: 375px;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
    }
    .line {
      max-width: 308px;
      margin-bottom: 10px;
      height: 4px;
    }
    .yes {
      display: none;
    }
    .yellow {
      display: none;
    }
    .burger {
      position: relative;
      padding-bottom: 5px;
    }
    .text {
      grid-column: span 1;
      grid-row: span 1;
      justify-content: center;
      margin-top: 20px;
      margin-left: 30px;
    }
    .text h1 {
      font-size: 28px;
      line-height: 0.5;
    }
    .text p {
      font-size: 10px;
      padding-bottom: 5px;
    }
    .ham1,
    .ham2,
    .ham3 {
      width: 24px;
      height: 2.5px;
      background-color: #cd5454;
      margin: 2.5px 0;
    }
    .button {
      padding: 4px 12px;
      border: none;
      border-radius: 2px;
      background: #cd5454;
      font-size: 9px;
      color: #ffffff;
      text-decoration: none;
    }
    .rectangle {
      border-radius: 6px;
      height: 36px;
      width: 86px;
      margin: 6px;
      box-shadow: 3px 3px 5px grey;
    }
  







  

















