---
layout: default
---

<div class="heroWrapper">

<div class="introText">
<h2>{{ page.title }}</h2>
  {% include page-intro.html %}

  {{ content }}
</div>

<div class="heroImg">
    <img src="/assets/img/uploads/Group(5).png" class="phone" />
</div>

</div>

<div class="waves">
    
</div>

<div class="design">


  <div class="colorPicker">
  {% include colorPick.html %}

  {{ content }}
  </div>



  <div class="colorPickerText">
      <h1>Design.</h1>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet ipsum quae distinctio? Maxime ratione tempora expedita, voluptatum laudantium molestiae. Totam aperiam iusto dolorem inventore dolores quod voluptatum aspernatur tenetur.</h4>
    </div>


</div>








  <section>

    <h3>Recent posts:</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li class="blogLinks">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>

  <script src="{{ "/assets/JS/index.js" | relative_url }}"></script>