---
layout: default
---

<div class="Main">

<div class="heroWrapper">

<div class="introText">
<h2>{{ page.title }}</h2>
<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet ipsum quae distinctio? Maxime ratione tempora expedita, voluptatum laudantium molestiae. Totam aperiam iusto dolorem inventore dolores quod voluptatum aspernatur tenetur.</h4>
  <!-- 
    {% include page-intro.html %}

  {{ content }} -->
</div>

<div class="heroImg">
    <img src="/assets/img/uploads/GroupCake(5).png" class="phone" />
</div>

</div>

<div class="waves">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M1442 23.5C879 -44 542 144 0.5 23.5V0H1442V23.5Z" fill="#240754"/> </g>
  </svg>
</div>

<div class="design">
    <div class="colorPicker">
        {% include colorPick.html %}
      
       
        </div>
    <div class="colorPickerText">
        <h1>Creative</h1>
        <h4>Some stuff needs to go here about website design logo design email design mobile design responsive design. Link to case study. Link to examples. Elabote on all design bullets above.</h4>
      </div>
</div>


<div class="waves2">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M-2.05443e-06 41.3539C563 108.854 900 -79.1461 1441.5 41.3538L1441.5 64.8538L0 64.8539L-2.05443e-06 41.3539Z" fill="#240754"/> </g>
  </svg>

</div>

<div class="design2">
  <div class="des2txt">
    <h1>Web</h1>
    <h4>Things I can offer. Portfolio pages, restaurant pages, business pages.  Interactive web apps. HTML Email. Talk about CMS. Elaborate on CMS. Talk about wordpress, squarespace, wix, etc.</h4>
  </div>
  <div class="des2img">
    <img src="/assets/img/uploads/Group 2.png">
  </div>
</div>

<div class="waves">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M1442 23.5C879 -44 542 144 0.5 23.5V0H1442V23.5Z" fill="#240754"/> </g>
  </svg>
</div>

<div class="pricing">
  <div class="pcard_1">
    <div class="pcardHeader">
      <div class="pcardHeaderBtn">
      </div>
    </div>
    <div class="pcardBody">
    <div class="pcardTxt">
      <h1>Free</h1>
      <div class="pcardTxtLine"></div>
    </div>
    <div class="pcardLine"></div>
    <div class="pcardButton">Contact</div>
    </div>
  </div>
  <div class="pcard_2">    <div class="pcardHeader2">
    <div class="pcardHeaderBtn2">
    </div>
  </div>
  <div class="pcardBody2">
  <div class="pcardTxt2">
    <h1>$300</h1>
    <div class="pcardTxtLine2"></div>
  </div>
  <div class="pcardLine2"></div>
  <div class="pcardButton2">Contact</div>
  </div></div>
  <div class="pcard_3">    <div class="pcardHeader3">
    <div class="pcardHeaderBtn3">
    </div>
  </div>
  <div class="pcardBody3">
  <div class="pcardTxt3">
    <h1>$500</h1>
    <div class="pcardTxtLine3"></div>
  </div>
  <div class="pcardLine3"></div>
  <div class="pcardButton3">Contact</div>
  </div></div>
  <div class="pcard_4">    <div class="pcardHeader4">
    <div class="pcardHeaderBtn4">
    </div>
  </div>
  <div class="pcardBody4">
  <div class="pcardTxt4">
    <h1>$900</h1>
    <div class="pcardTxtLine4"></div>
  </div>
  <div class="pcardLine4"></div>
  <div class="pcardButton4">Contact</div>
  </div></div>
</div>

<div class="waves2">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M-2.05443e-06 41.3539C563 108.854 900 -79.1461 1441.5 41.3538L1441.5 64.8538L0 64.8539L-2.05443e-06 41.3539Z" fill="#240754"/> </g>
  </svg>

</div>

<div class="design2">
  <div class="des2txt">
    <h1>Marketing Analytics</h1>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quod odio sint nihil consequuntur fugiat cupiditate aliquid nam maiores reiciendis illo labore hic aspernatur nostrum harum ipsam corrupti? Minima, placeat.</h4>
  </div>
  <div class="des2img">
    <img src="/assets/img/uploads/Group 2.png">
  </div>
</div>

<div class="waves">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M1442 23.5C879 -44 542 144 0.5 23.5V0H1442V23.5Z" fill="#240754"/> </g>
  </svg>
</div>


<div class="waves2">
  <svg
    width="100%"
    viewBox="1 0 1440 66"
    preserveAspectRatio="xMidYMid meet"
    fill="#044E54"
  >
    <g> <path d="M-2.05443e-06 41.3539C563 108.854 900 -79.1461 1441.5 41.3538L1441.5 64.8538L0 64.8539L-2.05443e-06 41.3539Z" fill="#240754"/> </g>
  </svg>
</div>

<div class="new"></div>

</div>






  <section>

    <h3>Recent posts:</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li class="blogLinks">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>

  <script src="{{ "/assets/JS/index.js" | relative_url }}"></script>